* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #000
}

.snake-scoreboard-box {
  width: 1080px;
  margin: 0 auto;
  padding: 5px;
}

.snake-scoreboard {
  color:#fff;
  font-size:200%;
}

.screen {
  width: 1082px;
  height: 722px;
  background: #111;
  border: solid 1px #fff;
  margin: auto;
  position: relative;
}

.snake-game-td {
  position: relative;
  width: 15px;
  height: 15px;
  float: left;
  border-radius: 0px;
}

.snake-game-tr {
  height: 15px;
}

.snake-game-apple {
  background-color: red;
  border: solid 2px #111;
  border-radius: 4px;
}

.snake-game-tail-appled {
  background-color: #0f0;
  border-radius: 2px;
}


.snake-game-tail-g {
  background-color: #0f0;
  border-top: solid 2px #111;
  border-bottom: solid 2px #111;

}

.snake-game-tail-v {
  background-color: #0f0;
  border-left: solid 2px #111;
  border-right: solid 2px #111;
}

.snake-game-tail-tr {
  background: #0f0;
  border-left: solid 2px #111;
  border-bottom: solid 2px #111;
  border-bottom-left-radius: 4px;
}
.snake-game-tail-tr::after {
  content:'';
  position: absolute;
  right: 0;
  top: 0;
  width: 2px;
  height: 2px;
  background-color: #111;
  border-bottom-left-radius: 15px;
}

.snake-game-tail-tl {
  background: #0f0;
  border-right: solid 2px #111;
  border-bottom: solid 2px #111;
  border-bottom-right-radius: 4px;
}
.snake-game-tail-tl::after {
  content:'';
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 2px;
  background-color: #111;
  border-bottom-right-radius: 15px;
}

.settings {
  color: #fff;
  width: 1080px;
  margin: 0 auto;
  padding: 5px;
}

input[type="checkbox"] {
  margin: 5px 3px 3px;
  height: 15px;
  width: 15px;
}


.snake-game-tail-br {
  background: #0f0;
  border-left: solid 2px #111;
  border-top: solid 2px #111;
  border-top-left-radius: 4px;
}
.snake-game-tail-br::after {
  content:'';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 2px;
  height: 2px;
  background-color: #111;
  border-top-left-radius: 15px;
}

.snake-game-tail-bl {
  background: #0f0;
  border-right: solid 2px #111;
  border-top: solid 2px #111;
  border-top-right-radius: 4px;
}
.snake-game-tail-bl::after {
  content:'';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 2px;
  height: 2px;
  background-color: #111;
  border-top-right-radius: 15px;
}


.snake-game-head {
  background-color: #4a4;
  border-radius: 2px;
}
